######## Databases ########
psycopg2  # PostgreSQL driver
# psycopg2-binary  # Alternative for containers
alembic  # PostgreSQL migration tool
minio  # MinIO S3 alternative interaction module
SQLAlchemy  # Multiple SQL database vendor drivers for interaction

######## Secrets & Security ########
hvac  # HashiCorp Vault client
bcrypt  # Data encryption
pyotp  # Python One Time Password Library
pyzbar  # Read barcodes and QR codes

######## File Handling ########
pyarrow  # Parquet file interpreter - compressed columnar dataframe
avro  # Avro serialization and RPC framework
PyYAML  # YAML file interpreter
lxml  # XML file interpreter

######## Asynchronous Data Handling ########
asyncio  # Library for writing concurrent code using async/await syntax

######## DevOps & Platform ########
# ddtrace  # Datadog APM agent
# python-hcl2  # HashiCorp config file interpreter (Terraform, Nomad)

######## OS & App Control ########
# web-browser  # High-level interface for displaying web-based documents

######## Web App Projects ########

# Flask Framework
flask  # Web framework for building applications
Flask-WTF  # Flask forms abstraction module
Flask-Scss  # SCSS support for Flask apps
# Flask-Admin  # Admin interface framework for Flask
Flask-Login # Flask login and session support
Flask-CORS  # CORS support for Flask

# WSGI Gateway
gunicorn  # WSGI HTTP server for UNIX
waitress  # Production-quality pure-Python WSGI server

# Web Development & Requests
# pyjwt  # Encode and decode JSON Web Tokens (JWT)
# configparser  # Configuration file parser

######## Testing ########
pytest  # Python testing module
selenium  # Web automation tool for testing and site traversal

######## Dummy Data ########
faker  # Fake data generator

######## Data Projects ########

# Web Scraping & Traversal
gql  # GraphQL client
aiohttp  # Async HTTP client (gql dependency)
bs4  # HTML parsing and filtering tool
scrapy  # Web scraping framework

# Image OCR Processing
pillow  # Python Imaging Library (PIL)
# pytesseract  # Wrapper for Google’s Tesseract OCR Engine
opencv-python  # OpenCV Python bindings

# Notebooks
jupyterlab  # Updated version of Jupyter Notebook
notebook  # Core Jupyter Notebook functionality
ipython  # Inline Jupyter notebook display
nbconvert  # Convert Jupyter notebooks to other formats
pandoc  # Document conversion tool

# Data Handling
pandas  # Data manipulation and analysis module
polars  # DataFrame library built on Rust

# Mathematics
numpy  # Mathematical functions and linear algebra
sympy  # Symbolic mathematics library
scipy  # Algorithms for optimization, interpolation, and statistics

# Machine Learning
torch  # Machine learning library
tensorflow  # Machine learning library
scikit-learn  # Machine learning library (import as skl)
# keras  # Machine learning library (now included in Tensorflow)
xgboost  # Boosting library for ML
trl  # Transformer Reinforcement Learning (Hugging Face)

# Data Visualization
matplotlib  # Visualization tool for pandas
matplotlib-venn[shapely]  # Venn diagrams for matplotlib
seaborn  # Statistical data visualization
plotly  # Interactive graphing library
dash  # Low-code framework for data apps

# Data Engineering
pyspark  # Apache Spark module
prefect  # ETL data pipeline framework (<3.0)
# prefect[server]  # Prefect ETL pipeline framework (>3.0)
# prefect_aws  # Prefect AWS backend connector

######## Vendor-Specific ########

# Microsoft
pywin32  # Windows API access and automation
pywinpty  # Windows process communication
msal  # Microsoft Azure authentication client
msal_extensions  # MSAL persistent cache support
# extract-msg  # Microsoft Outlook *.msg file parser
openpyxl  # Excel file interaction

# AWS
boto3  # AWS SDK for Python
